* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    margin-top: 30px;
    margin-left: 50px;
    transition: all 1s;
}

.logo:hover{
    transform: translateY(-15%);

}


body {
    background-color: #FFF;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.input-texto {
    margin-top: 100px;
    margin-left: 220px;
    border-radius: 5px;
    border: 10px groove rgb(152, 75, 214);
}


.mensaje {
    position: relative;
    margin-top: 100px;
    margin-left: 300px;
    background-image: url("imagenes/detective.jpg");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    border-radius: 5px;
    border: 10px groove rgb(195, 91, 226);

}

.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 400px;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 350px;
}

.encriptar {
    background-color: darkblue;
    color:white;
    border-radius: 5px;
}

.desencriptar {
    margin-left: 30px;
    border-radius: 5px;
}

.informacion {
    font-size: 20px;
    margin-left: 220px;

    
}

.copy{
    font-size: 20px;
    margin-left: -700px;
    text-align: center;
    
}